body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: #f4f4f4;

}

head {
 	text-align: left;
 }

/* Estilos globales */
.contenedore{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
/* Cabecera con Imagen*/
.logo{
 	width: 300px;
 	padding: 20px 0 20px 0;
 	margin-top: -70px;
 	margin-bottom: -50px;
 	margin-left: 5%;
 }
.boton{
	height: 38px;
	background-color: #ed8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;

}

/* Encabezado */
header{
	background-color: #24282b;
	color:  #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293d4;
}
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px; 
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px
}

header #marca{
	float: left;

}
header #marca h1{
	margin: 0;

}
header nav{
	float: right;
	margin-top: 10px;
}
header nav.login{
	margin-top: -75px;
}
header .resaltado, header .actual a{
	color: #1293d4
	font-weight: bold;
}
header a{
	color: #ccc;
	font-weight: bold;

}

/* Cabecera */
 #cabeceraa{
 	min-height: 100px;
 	color:#11A5C9; 
 	text-align: center;
 	
 }
 #cabeceraa h1{
 	margin-top: 100px;
 	font-style: 55px;
 	margin-bottom: 10px;
 }
 #cabeceraa p{
 	font-size: 20px;
 }


   form{
   background: #E3F7FD;
   border: 1px solid #49C7E3;
   color: #49C7E3;
   font-size: 15px;
   padding: 5px;
   width:95%;
   margin-left:2%;
   margin-top:9px;

 }
 form h4{
 	margin-bottom: 15px;
 	margin-top: 10px;
 	color: rgb(21,40,54);
 	text-align: center; 
 	
 }
 form input{
 	border-radius:2px;
 	margin-right:40%;
 	float: left;
 	

 }

 form label{
	color: rgb(21,40,54);
 	float: right;
	margin-left:40%;


}

form select{
	border-radius:2px;
 	margin-right: 40%;
 	float: left;

}

table{
	width: 110%;
}




/* footer pie de pagina */
footer{
	padding: 7px;
	margin-top: 50px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;

}



/*titulo*/


div.contenedor{
	width: 110px;
    height: 210px;
	margin-top: 5px;
	margin-bottom: -50px;
	margin-left: 150px;
	margin-right: 50px;
	-webkit-transition: height .4s;
	float: left;


}

div#uno{
	background-color: rgb(90,189,255);
	margin-left: 6%;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Proyectos */
div#dos{
	background-color: rgb(25,44,59);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Barrios */
div#tres{
	background-color: rgb(31,121,197);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* riesgos */
div#cuatro{
	background-color: rgb(31,68,99);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Donaciones */
div#cinco{
	background-color: rgb(22,33,42);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Familias */
div#seis{
	background-color: rgb(38,105,160);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Viviendas */
div#siete{
	background-color: rgb(42,119,147);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Zonas */
div#ocho{
	background-color: rgb(90,163,223);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 9%;

}
/* Juntas */
div#nueve{
	background-color: rgb(85,126,160);
	margin-left: 10px;
	margin-right:10px;
	margin-top: 25px;
	width: 9%;

}


img.icon{
	display: block;
	margin:30px auto;
	background-color: rgba(255,255,255,.15);
	width:50px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:200px;
}

div.contenedor:hover p.texto{
	padding-top: 10px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}


.boton1{
	height: 38px;
	background-color: rgb(21,40,54);
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	margin-left: 70px;
	margin-top: 15px;
}
/* Pagina Responsive*/

@media (max-width: 800px) {
 
   div#uno{

	margin-left: 5%;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;
 	  }
 	  /* Proyectos */
   div#dos{
	background-color: rgb(25,44,59);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
     /* Barrios */
    div#tres{
	background-color: rgb(31,121,197);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* riesgos */
    div#cuatro{
	background-color: rgb(31,68,99);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* Donaciones */
    div#cinco{
	background-color: rgb(22,33,42);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* Familias */
    div#seis{
	background-color: rgb(38,105,160);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* Viviendas */
    div#siete{
	background-color: rgb(42,119,147);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* Zonas */
    div#ocho{
	background-color: rgb(90,163,223);
	margin-left: 5px;
	margin-right:5px;
	margin-top: 25px;
	width: 8.5%;

}
    /* Juntas */
    div#nueve{
	background-color: rgb(85,126,160);
	margin-left: 10px;
	margin-right:10px;
	margin-top: 25px;
	width: 8.5%;

}


    img.icon{
	display: block;
	margin:10px auto;
	background-color: rgba(255,255,255,.15);
	width:25px;
	padding:15px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

    p.texto{
	font-size: 0.7em;
	color:white;
	text-align: center;
	padding-top:50px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

    div.contenedor:hover{
	height:130px;
}

    div.contenedor:hover p.texto{
	padding-top: 10px;
	opacity: 1;
}

    div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}
    div.contenedor{
	width: 40px;
    height: 120px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 150px;
	margin-right: 50px;
	-webkit-transition: height .4s;
	float: left;


}
   form{
   background: #E3F7FD;
   border: 1px solid #49C7E3;
   color: #49C7E3;
   font-size: 15px;
   padding: 5px;
   width:95%;
   margin-left:2%;
   margin-top:-80px;

 }
 footer{
	padding: 10px;
	margin-top: 27%;
	color: #fff;
	background-color: #1293d4;
	text-align: center;

}
  body{
  	min-width: 550px;
  }

} 